name: Test and Build

on:
  push:
    branches: [ master ]

defaults:
  run:
    working-directory: test-plugin

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GITHUB_USER: "gocd-contrib"
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      PRERELEASE: "YES"
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: 21
          distribution: temurin
      - name: Test with Gradle
        run: ./gradlew assemble check --warning-mode=all --stacktrace
      - name: Run dry-run githubRelease
        run: ./gradlew githubRelease --warning-mode=all --stacktrace

