name: Test and Release

on:
  push:
    branches: [ master ]

defaults:
  run:
    working-directory: test-plugin

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 21
          distribution: temurin
          cache: gradle
      - name: Test with Gradle
        run: ./gradlew assemble check --warning-mode=all --stacktrace
      - name: Run dry-run githubRelease
        run: ./gradlew githubRelease --warning-mode=all --stacktrace
        env:
          GITHUB_USER: "gocd"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

